<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>Morph</title>
    <style>
        .title-centered{
            margin-top: 30px;
            margin-left: 120px;
        }
        .h3-centered{
            margin-left: 120px;
            /* margin-top: 50px;*/
        }
        #content {
            margin-left: 210px;
            padding: 20px;
        }
        .file-name {
            cursor: pointer;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
        .file-name:hover {
            background-color: #f0f0f0;
        }
        table{
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        .inline-image {
            width: 300px; /* Adjust the image width */
            height: auto;
            /*vertical-align: left; */
            float: left;
            margin-right: 10px; /* Optional spacing between image and text */
        }
        .button-space{
            margin-top: 15px;
        }
        img {
                max-width: 10%;
                height: 10%;
            }
    </style>
</head>
<body>
    <div>
        <h2 class="title-centered"> -Morph- </h2>  
        <h3 class="h3-centered"> A corpus-based web tool for derivational noun suffixes counting and the identification of the complex words containing them </h3>
    </div>
    <div class="container p-3">
<div class="card mb-3" style="max-width: 740px;">
  <div class="row g-0 d-flex align-items-center">
    <div class="col-md-4">
      <img src="/static/images/MorphLogo.jpg" class="img-fluid rounded-start" alt="Card image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text"> This application has been developed by Universidad Autónoma del Estado de México & 
    Universidad Autónoma de San Luis Potosi and financed by Secretaría de Ciencia, Humanidades, Tecnología e Innovación.
    Morphological characteristics of the noun suffixes for this version have been 
    adapted from Stein (2007), Laws & Ryder (2014) and Oxford University Press (2025).</p>
      </div>
      <a href="{{ url_for('home') }}" class="stretched-link">Go back to the app </a>
    </div>
  </div>
</div>
    <h3>Table of suffixes </h3>
    <table><thead>
  <tr>
    <th>Suffix form</th>
    <th>Alternative forms</th>
    <th>Bases</th>
    <th>Meaning</th>
  </tr></thead>
<tbody>
  <tr>
    <td>-age</td>
    <td></td>
    <td>Verbs</td>
    <td>A instance of the action, the process of what is denoted by the base</td>
  </tr>
  <tr>
    <td>-al1</td>
    <td></td>
    <td>Verbs</td>
    <td>The process, act, or action denoted by the base</td>
  </tr>
  <tr>
    <td>-al3</td>
    <td>-ial, -ical, inal, ual</td>
    <td>Any</td>
    <td>A person/entity relating to, concerning, or connected with the base</td>
  </tr>
  <tr>
    <td>-ance1</td>
    <td></td>
    <td>Verbs</td>
    <td>Action or process of what is denoted by the base</td>
  </tr>
  <tr>
    <td>-ance2</td>
    <td></td>
    <td>Adjectives</td>
    <td>The state, quality or condition of what is denoted by the base</td>
  </tr>
  <tr>
    <td>-ancy</td>
    <td></td>
    <td>Adjectives</td>
    <td>The state, quality or condition of what is denoted by the base</td>
  </tr>
  <tr>
    <td>-an2</td>
    <td>-ean, -ian</td>
    <td>Nouns</td>
    <td>A person who is, comes from, belongs to the place denoted by the base</td>
  </tr>
  <tr>
    <td>-ant2</td>
    <td></td>
    <td>Verbs</td>
    <td>A person or thing that performs the action denoted by the base</td>
  </tr>
  <tr>
    <td>-ary2</td>
    <td></td>
    <td>Nouns</td>
    <td>A person who is connected with what is denoted by the base</td>
  </tr>
  <tr>
    <td>-ate2</td>
    <td></td>
    <td>Nouns</td>
    <td>A rank or function of what is denoted by the base; the office, premises of the person denoted by the base; the period of office heald by the person <br>denoted by the base; the group of people who hold the rank or office specified by the base</td>
  </tr>
  <tr>
    <td>-ation</td>
    <td></td>
    <td>Verbs</td>
    <td>The action or act denoted by the base; an instance of this action either active or passive; the result state, condition of the action of the base</td>
  </tr>
  <tr>
    <td>-cide</td>
    <td>-icide</td>
    <td>Any</td>
    <td>The killing of that which is denoted by the base; a person or agents that kills what is denoted by the base</td>
  </tr>
  <tr>
    <td>-cy</td>
    <td></td>
    <td>Nouns &amp; Adjectives</td>
    <td>The condition, state or rank of what is denoted by the base</td>
  </tr>
  <tr>
    <td>-dom</td>
    <td></td>
    <td>Nouns &amp; Adjectives</td>
    <td>The state, condition or quality of what is expressed by the base</td>
  </tr>
  <tr>
    <td>-ed2</td>
    <td>-d</td>
    <td>Verbs</td>
    <td>A group of people or things characterised by what is denoted by the base</td>
  </tr>
  <tr>
    <td>-ence1</td>
    <td></td>
    <td>Verbs</td>
    <td>The action or process of what is denoted by the base</td>
  </tr>
  <tr>
    <td>-ence2</td>
    <td></td>
    <td>Adjectives</td>
    <td>The state, condition or quality denoted by the base</td>
  </tr>
  <tr>
    <td>-ency1</td>
    <td></td>
    <td>Verbs</td>
    <td>The action or process of what is denoted by the base</td>
  </tr>
  <tr>
    <td>-ent2</td>
    <td></td>
    <td>Verbs</td>
    <td>A person, thing or drug that performs or causes the action specified by the base</td>
  </tr>
  <tr>
    <td>-er2</td>
    <td></td>
    <td>Adjectives, Verbs &amp; Nouns</td>
    <td>An inhabitant, member of what is denoted by the base</td>
  </tr>
  <tr>
    <td>-er3</td>
    <td></td>
    <td>Adjectives, Verbs &amp; Nouns</td>
    <td>An entity that performs the action specified by the base</td>
  </tr>
  <tr>
    <td>-ery</td>
    <td>-ry</td>
    <td>Adjectives, Verbs &amp; Nouns</td>
    <td>A place where the person or object denoted by the base is, lives or is kept; a collection or an aggregate of the things denoted by the base; <br>the state or condition of being what is denoted by the base</td>
  </tr>
  <tr>
    <td>-et</td>
    <td></td>
    <td>Nouns &amp; Any</td>
    <td>A smaller or less important, inferior type or category of what is denoted by the base; a group of singers or instrumentalists of the number specified by the base</td>
  </tr>
  <tr>
    <td>-gen</td>
    <td></td>
    <td>Any</td>
    <td>A substance or agent that produces what is denoted by the base; something produced by or in the manner of what is denoted by the base</td>
  </tr>
  <tr>
    <td>-hood</td>
    <td></td>
    <td>Nouns &amp; Adjectives</td>
    <td>The state, condition or quality of what is denoted by the base</td>
  </tr>
  <tr>
    <td>-ic2</td>
    <td>-atic, -etic</td>
    <td>Nouns</td>
    <td>A person or entity that is characteristic of, relating to, having or showing the quality denoted by the base</td>
  </tr>
  <tr>
    <td>-ice</td>
    <td></td>
    <td>Adjectives, Verbs &amp; Nouns</td>
    <td>The quality or fact of being what is denoted by the base</td>
  </tr>
  <tr>
    <td>-ics</td>
    <td></td>
    <td>Nouns</td>
    <td>The study, knowledge of, or the skill of what is denoted by the base; the field of activities or actions characteristic of the person denoted by the base</td>
  </tr>
  <tr>
    <td>-ie1/-y8</td>
    <td>-ie, -y</td>
    <td>Nouns</td>
    <td>Diminutive, a little specimen or version of the base; a person, object connected with the base</td>
  </tr>
  <tr>
    <td>-ie9/-y16</td>
    <td>-ie, -y</td>
    <td>Nouns</td>
    <td>Diminutive, a little specimen or version of the base; a person, object connected with the base</td>
  </tr>
  <tr>
    <td>-iety</td>
    <td></td>
    <td>Adjectives</td>
    <td>The quality, state, or condition of being what is indicated by the base</td>
  </tr>
  <tr>
    <td>-ing5</td>
    <td></td>
    <td>Verbs</td>
    <td>The profession or practice of the action denoted by the base</td>
  </tr>
  <tr>
    <td>-ish5</td>
    <td></td>
    <td>Nouns &amp; Adjectives</td>
    <td>The language of the nationality denoted by the base</td>
  </tr>
  <tr>
    <td>-ism</td>
    <td></td>
    <td>Nouns &amp; Adjectives</td>
    <td>The ideas, principles of, a doctrine or system connected with the base; the typical behaviour, state or condition of what is denoted by the <br>base; a specific language usage characterised by the base; in medicine an abnormal condition characterised by the base</td>
  </tr>
  <tr>
    <td>-ist2</td>
    <td></td>
    <td>Adjectives, Verbs &amp; Nouns</td>
    <td>A person who is connected with or practices in te field specified by the base; a person who professes or adheres to a theory or doctrine connected <br>to the base; a person who plays the instrument specified by the base; a person who does what is denoted by the base</td>
  </tr>
  <tr>
    <td>-ition</td>
    <td></td>
    <td>Verbs</td>
    <td>The act, action or process of doing what is denoted by the base; an act, instance or case of doing what is denoted by the base; the state of <br>having undergone the action denoted by the base; something that is or has been subjected to the action denoted by the base; <br>a person or group of people that does or represents what is denoted by the base</td>
  </tr>
  <tr>
    <td>-itude</td>
    <td></td>
    <td>Adjectives</td>
    <td>The quality, condition or state of being what is denoted by the base</td>
  </tr>
  <tr>
    <td>-ity</td>
    <td>-ty</td>
    <td>Adjectives</td>
    <td>The quality, state or condition of being what is denoted by the base; an instance or case of the base; a person or a thing characterised by <br>what is denoted by the base</td>
  </tr>
  <tr>
    <td>-ive2</td>
    <td></td>
    <td>Verbs</td>
    <td>A person or something that does or tends to do what is denoted by the base</td>
  </tr>
  <tr>
    <td>-logy</td>
    <td>-ology</td>
    <td>Any</td>
    <td>The branch or science, study or theory of what is denoted by the base</td>
  </tr>
  <tr>
    <td>-mony</td>
    <td></td>
    <td>Nouns</td>
    <td>Denoting a state, condition or action connected with the base</td>
  </tr>
  <tr>
    <td>-nomy</td>
    <td>-onomy</td>
    <td>Any</td>
    <td>The state or fact of constituting the kind of words or names specified by the base; the study of the kind of words or names specified by the base</td>
  </tr>
  <tr>
    <td>-or1</td>
    <td></td>
    <td>Verbs</td>
    <td>A person who does what is expressed by the base</td>
  </tr>
  <tr>
    <td>-our</td>
    <td>-iour, -or, -ior</td>
    <td>Verbs</td>
    <td>The act or action of doing what is denoted by the base</td>
  </tr>
  <tr>
    <td>-phone 1</td>
    <td></td>
    <td>Any</td>
    <td>A device or an instrument that passes on sound for, by means, in the manner of what is specified by the base; speaking the language or a <br>person who speaks the language specified by the base</td>
  </tr>
  <tr>
    <td>-ship</td>
    <td></td>
    <td>Nouns &amp; Adjectives</td>
    <td>The state, condition or quality of what is expressed by the base; the rank, position function or jurisdiction of what is denoted by the base; <br>the time, period during which one is what is denoted by the base; the skill or art needed to be what is denoted by the base; a group of people all <br>having the status of what is denoted by the base</td>
  </tr>
  <tr>
    <td>-th1</td>
    <td></td>
    <td>Adjectives &amp; Verbs</td>
    <td>The quality, state or condition of being what is denoted by the base; the process, action or act of what is denoted by the base; the concrete <br>result of the action or someone who has done the action denoted by the base</td>
  </tr>
  <tr>
    <td>-ty1</td>
    <td></td>
    <td>Nouns &amp; Adjectives</td>
    <td>The state, condition or quality of what is denoted by the base; an instance or case of the base</td>
  </tr>
  <tr>
    <td>-ure</td>
    <td></td>
    <td>Nouns &amp; Verbs</td>
    <td>The state, function or office of what is denoted by the base; the action or process of what is denoted by the base; the result of the action or process <br>of what is denoted by the base; a body of people doing what is denoted by the base</td>
  </tr>
  <tr>
    <td>-y5</td>
    <td></td>
    <td>Verbs</td>
    <td>The action of doing, an instance or result of the action denoted by the base</td>
  </tr>
  <tr>
    <td>-y6</td>
    <td></td>
    <td>Adjectives</td>
    <td>Quality, state or condition denoted by the base</td>
  </tr>
</tbody></table>
    

</body>
</html>